<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.agents.plexcast</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>
	<key>PlexAgentAttributionText</key>
	<string>
<![CDATA[
PlexCast Agent
<br /><br />
works with PlexCast to provide show and episode information from your PlexCast
subscriptions to Plex. PlexCast writes show and episode information and art to
your PlexCast folder, which this agent will use to provide metadata to Plex.
]]>
	</string>
</dict>
</plist>
